@charset "UTF-8";
.fl {
  float: left; }

.fr {
  float: right; }

.clear {
  zoom: 1; }

.clear:after {
  content: '';
  display: table;
  clear: both; }

.across li {
  display: inline-block;
  line-height: 60px; }
  .across li a {
    margin: 0 5px; }

.tit {
  font-size: 23px;
  line-height: 60px;
  padding-right: 25px; }
  .tit a {
    color: #31343b; }

a {
  color: #575d6a; }

.center_big {
  max-width: 1120px;
  margin: auto;
  padding-top: 30px; }

.main_tit {
  color: #31343b;
  font-size: 22px;
  line-height: 60px;
  float: left;
  margin-right: 15px;
  margin-left: 5px;
  letter-spacing: 1.5px; }

.main_ul {
  color: #575d6a;
  line-height: 60px; }
  .main_ul li {
    display: inline-block;
    margin: 0 12px; }

.wrap {
  width: 100%;
  color: #575d6a;
  font-family: "微软雅黑"; }
  .wrap .headed {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: black; }
    .wrap .headed .center_big {
      max-width: 1120px;
      margin: auto;
      padding-top: 0; }
    .wrap .headed .main {
      line-height: 60px; }
      .wrap .headed .main .tit {
        color: white; }
      .wrap .headed .main a {
        color: white; }
      .wrap .headed .main .log a {
        margin-left: 10px; }
      .wrap .headed .main .nav {
        display: block; }
  .wrap .content #large {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative; }
  .wrap .content #pic {
    width: 800%;
    position: absolute;
    left: 0;
    top: 0; }
    .wrap .content #pic a {
      height: 500px;
      overflow: hidden;
      display: inline-block;
      position: relative;
      float: left;
      text-align: center; }
      .wrap .content #pic a img {
        cursor: pointer;
        width: 1920px;
        height: 500px;
        position: absolute; }
  .wrap .content #small {
    position: absolute;
    bottom: 5%; }
    .wrap .content #small li {
      display: inline-block;
      width: 30px;
      height: 0px;
      margin: 10px 5px;
      text-align: center;
      border: 1px solid white;
      line-height: 0;
      color: transparent;
      cursor: pointer; }
    .wrap .content #small li:hover {
      line-height: 20px;
      height: 20px;
      color: white;
      background-color: #333;
      margin-bottom: 0;
      border: 1px solid white; }
    .wrap .content #small .select {
      border: 1px solid #005aff; }
  .wrap .content #large_left, .wrap .content #large_right {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 220px;
    opacity: .5;
    filter: alpha(opacity=50); }
    .wrap .content #large_left a, .wrap .content #large_right a {
      text-decoration: none;
      color: white; }
  .wrap .content #large_right {
    right: 0; }
  .wrap .content #large_left:active, .wrap .content #large_right:active {
    opacity: 0;
    filter: alpha(opacity=0); }
  .wrap .content .manufacture {
    width: 100%;
    background-color: #f7f7f7; }
    .wrap .content .manufacture .content div {
      width: 32%;
      text-align: center;
      position: relative; }
      .wrap .content .manufacture .content div img {
        width: 100%;
        pointer-events: none; }
      .wrap .content .manufacture .content div span {
        line-height: 60px;
        font-size: 15px;
        pointer-events: none; }
      .wrap .content .manufacture .content div b {
        border-bottom: 1px solid white;
        width: 30px;
        position: absolute;
        top: 41%;
        opacity: 0;
        pointer-events: none; }
      .wrap .content .manufacture .content div b:nth-of-type(1) {
        left: 60px; }
      .wrap .content .manufacture .content div b:nth-of-type(2) {
        right: 60px; }
      .wrap .content .manufacture .content div em {
        position: absolute;
        left: 0;
        right: 0;
        top: 155px;
        color: white;
        font-size: 20px;
        opacity: 0;
        pointer-events: none; }
    .wrap .content .manufacture .content .video2, .wrap .content .manufacture .content .video5 {
      margin: 0 2%; }
  .wrap .content .boutique .recommend, .wrap .content .boutique .appraisal {
    width: 49%; }
    .wrap .content .boutique .recommend .img, .wrap .content .boutique .appraisal .img {
      position: relative; }
    .wrap .content .boutique .recommend img, .wrap .content .boutique .appraisal img {
      width: 100%; }
    .wrap .content .boutique .recommend em, .wrap .content .boutique .appraisal em {
      width: 99%;
      display: block;
      color: white;
      position: absolute;
      bottom: 0;
      font-size: 16px;
      font-weight: bold;
      padding-left: 1%;
      line-height: 40px;
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent); }
  .wrap .content .boutique .recommend {
    margin-right: 2%; }
  .wrap .content .boutique ul {
    padding-top: 20px; }
    .wrap .content .boutique ul li {
      list-style: disc;
      margin-left: 15px;
      line-height: 36px;
      font-size: 16px; }
      .wrap .content .boutique ul li b {
        font-weight: normal; }
      .wrap .content .boutique ul li i {
        float: right;
        font-size: 12px; }
  .wrap .content .life a {
    width: 24%;
    margin-left: 1.3%;
    position: relative;
    overflow: hidden; }
    .wrap .content .life a img {
      width: 100%; }
  .wrap .content .life a:nth-of-type(1) {
    margin-left: 0; }
  .wrap .content .life em {
    line-height: 40px;
    font-size: 12px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), transparent);
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    height: 40px; }
  .wrap .content .life .odiv {
    padding-bottom: 40px; }
  .wrap .content .hand {
    background-color: #f7f7f7;
    width: 100%;
    overflow: hidden; }
    .wrap .content .hand .center_big {
      width: 1120px;
      margin: auto; }
    .wrap .content .hand .hand2 {
      width: 760px; }
      .wrap .content .hand .hand2 a {
        width: 360px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: inline-block; }
        .wrap .content .hand .hand2 a img {
          width: 100%; }
    .wrap .content .hand .maintain {
      width: 360px; }
      .wrap .content .hand .maintain img {
        width: 100%; }
      .wrap .content .hand .maintain div {
        padding: 18px;
        text-align: center;
        background-color: white;
        position: relative; }
        .wrap .content .hand .maintain div label {
          display: block;
          color: #abb0bc;
          text-align: left; }
        .wrap .content .hand .maintain div input {
          width: 100%;
          height: 38px;
          margin: 0 0 18px 0;
          font-size: 14px;
          color: #333;
          text-indent: 3px;
          border: 1px solid #333333; }
        .wrap .content .hand .maintain div select {
          padding: 0 5px;
          border: 1px solid #333333;
          text-align: left;
          width: 326px;
          background-color: white;
          font-size: 14px;
          color: #333;
          line-height: 40px;
          height: 40px;
          cursor: pointer;
          margin-bottom: 20px; }
        .wrap .content .hand .maintain div a {
          width: 100%;
          background-color: #00b06d;
          color: white;
          font-size: 16px;
          display: block;
          line-height: 38px; }
      .wrap .content .hand .maintain ul {
        display: none;
        background-color: white;
        padding: 1% 0; }
        .wrap .content .hand .maintain ul li {
          background-color: white;
          padding: 1% 0;
          float: left;
          display: inline-block;
          width: 20%;
          text-align: center; }
          .wrap .content .hand .maintain ul li a {
            display: block;
            border-right: 1px solid #eceef1; }
          .wrap .content .hand .maintain ul li span {
            margin: 0 35%;
            width: 30%;
            display: block; }
  .wrap .content .tool {
    width: 100%;
    overflow: hidden; }
    .wrap .content .tool .center_big {
      width: 1120px; }
    .wrap .content .tool span {
      display: block;
      width: 100%; }
    .wrap .content .tool .left {
      width: 760px; }
      .wrap .content .tool .left div a {
        width: 358px;
        height: 240px;
        display: block;
        border: 1px solid #eceef1;
        margin-right: 18px;
        text-align: center;
        float: left;
        margin-bottom: 18px;
        font-size: 16px;
        text-align: center;
        position: relative;
        overflow: hidden; }
        .wrap .content .tool .left div a div {
          position: relative;
          left: 0;
          top: -10px; }
        .wrap .content .tool .left div a em {
          width: 180px;
          display: inline-block;
          height: 1px;
          left: 25%;
          position: absolute;
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
          z-index: -1;
          margin-top: -1.2%; }
        .wrap .content .tool .left div a span {
          margin-top: -40px;
          position: absolute; }
        .wrap .content .tool .left div a i {
          margin-top: -15px;
          display: block; }
      .wrap .content .tool .left div a:nth-of-type(4) {
        background-color: #fdfdfd; }
    .wrap .content .tool .right {
      display: block;
      width: 358px;
      border: 1px solid #eceef1;
      padding-top: 20px;
      text-align: center; }
      .wrap .content .tool .right span {
        border-left: 3px solid #008cff;
        line-height: 20px;
        font-size: 20px;
        text-align: left; }
      .wrap .content .tool .right img {
        width: 50%;
        margin-left: 25%; }
      .wrap .content .tool .right label {
        display: block;
        color: #abb0bc;
        text-align: left;
        margin: 20px 18px; }
      .wrap .content .tool .right select {
        padding: 0 5px;
        border: 1px solid #333333;
        text-align: left;
        width: 326px;
        background-color: white;
        font-size: 14px;
        color: #333;
        line-height: 40px;
        height: 40px;
        cursor: pointer; }
      .wrap .content .tool .right a {
        width: 326px;
        background-color: #008cff;
        color: white;
        font-size: 16px;
        display: block;
        line-height: 38px;
        margin: 20px auto; }
  .wrap .content .lab {
    background-color: #f7f7f7; }
    .wrap .content .lab .center_big {
      display: block; }
      .wrap .content .lab .center_big a {
        width: 49%;
        text-align: center;
        float: left;
        position: relative; }
        .wrap .content .lab .center_big a img {
          width: 100%; }
        .wrap .content .lab .center_big a em {
          display: block;
          font-size: 15px;
          line-height: 70px; }
        .wrap .content .lab .center_big a div {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 70px;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: all .5s; }
          .wrap .content .lab .center_big a div span {
            display: inline-block;
            width: 35px;
            border-bottom: 1px solid white;
            position: absolute;
            top: 120px; }
          .wrap .content .lab .center_big a div span:nth-of-type(1) {
            left: 120px; }
          .wrap .content .lab .center_big a div span:nth-of-type(2) {
            right: 120px; }
          .wrap .content .lab .center_big a div i {
            color: white;
            font-size: 20px;
            display: inline-block;
            position: absolute;
            top: 158px;
            left: 0;
            right: 0; }
        .wrap .content .lab .center_big a div:hover {
          opacity: 1; }
      .wrap .content .lab .center_big a:nth-of-type(1), .wrap .content .lab .center_big a:nth-of-type(3) {
        margin-right: 2%; }
    .wrap .content .lab .small {
      display: none; }
      .wrap .content .lab .small img {
        width: 100%; }
      .wrap .content .lab .small ul li {
        float: left;
        width: 25%;
        text-align: center;
        line-height: 35px;
        border-right: 1px solid #eceef1;
        box-sizing: border-box; }
  .wrap .fooded {
    color: #757e91;
    border-bottom: 1px solid #f2f2f2; }
    .wrap .fooded .about {
      padding-top: 30px;
      padding-bottom: 55px;
      border-bottom: 1px solid #f2f2f2; }
      .wrap .fooded .about ul {
        width: 22%;
        float: left;
        line-height: 30px;
        font-size: 14px; }
        .wrap .fooded .about ul li:nth-of-type(1) {
          line-height: 55px;
          font-size: 16px; }
      .wrap .fooded .about ul:nth-of-type(4), .wrap .fooded .about ul:nth-of-type(5) {
        width: 17%; }
      .wrap .fooded .about ul:nth-of-type(5) {
        text-align: center; }
    .wrap .fooded .chaining {
      padding: 10px 0; }
      .wrap .fooded .chaining span {
        display: inline-block;
        float: left;
        line-height: 40px;
        width: 10%; }
      .wrap .fooded .chaining div {
        float: left;
        display: inline-block;
        width: 90%; }
      .wrap .fooded .chaining em {
        margin-right: 60px;
        display: inline-block;
        float: left;
        line-height: 40px; }
  .wrap .bottom {
    text-align: center;
    line-height: 33px;
    width: 100%;
    margin: auto;
    padding: 25px;
    box-sizing: border-box; }
    .wrap .bottom span {
      display: inline-block;
      margin: auto;
      line-height: 33px; }
    .wrap .bottom br {
      display: none; }

@media screen and (max-width: 1120px) {
  .wrap .content .manufacture .content {
    margin: auto; }
    .wrap .content .manufacture .content div {
      pointer-events: none; }
  .wrap .content .manufacture ul li:nth-of-type(1), .wrap .content .manufacture ul li:nth-of-type(7) {
    display: none; }
  .wrap .content .lab .center_big a div {
    display: none; }
  .center_big {
    padding-left: 1%;
    padding-right: 1%;
    width: 98%; } }

@media screen and (max-width: 990px) {
  .wrap .content .boutique ul li i {
    display: none; } }

@media screen and (max-width: 820px) {
  .wrap .content .manufacture .content div span {
    font-size: 12px;
    line-height: 40px; } }

@media screen and (max-width: 775px) {
  .center_big {
    padding-top: 15px;
    padding-right: 0; }
  .wrap .headed .center_big {
    padding-top: 0; }
  .wrap .headed .main {
    width: 100%;
    margin: auto;
    line-height: 45px; }
    .wrap .headed .main .tit {
      line-height: 45px;
      color: white;
      font-size: 18px;
      margin-left: -33px;
      position: absolute;
      left: 50%; }
    .wrap .headed .main .em {
      position: absolute;
      top: 14px;
      left: 18px; }
      .wrap .headed .main .em em {
        display: block;
        height: 5px;
        width: 12px;
        border-top: 2px solid white;
        border-bottom: 2px solid white; }
      .wrap .headed .main .em em:nth-of-type(1) {
        border-bottom: 0; }
    .wrap .headed .main .em_1 {
      position: absolute;
      top: 23px;
      left: 18px;
      z-index: 6; }
      .wrap .headed .main .em_1 em {
        display: block;
        width: 18px;
        height: 0px;
        border-top: 3px solid #8992a3;
        transform: rotate(45deg);
        position: absolute; }
      .wrap .headed .main .em_1 em:nth-of-type(1) {
        transform: rotate(-45deg);
        border-top: 3px solid #8992a3; }
    .wrap .headed .main a {
      color: white; }
    .wrap .headed .main .log {
      margin-right: 23px; }
      .wrap .headed .main .log a:nth-of-type(2) {
        display: none; }
    .wrap .headed .main ul {
      display: none; }
  .wrap .headed .nav_big {
    background-color: white; }
    .wrap .headed .nav_big .tit a {
      color: #10151a; }
    .wrap .headed .nav_big .log a {
      color: #757e91; }
  .wrap .headed .nav {
    background-color: white;
    position: absolute;
    top: -380px;
    z-index: 9;
    width: 100%;
    display: none; }
    .wrap .headed .nav li {
      display: block;
      line-height: 45px;
      border-bottom: 1px solid #eceef1;
      width: 94%;
      margin-left: 3%; }
      .wrap .headed .nav li a {
        color: #757e91; }
  .wrap .con_top {
    padding-top: 45px; }
  .wrap .content #large {
    width: 100%;
    height: 15px;
    background-color: #eceef1; }
    .wrap .content #large #pic, .wrap .content #large #small, .wrap .content #large #large_left, .wrap .content #large #large_right {
      display: none; }
  .wrap .content .hand {
    width: 100%; }
    .wrap .content .hand .center_big {
      width: 100%; }
    .wrap .content .hand .hand2 {
      overflow: hidden;
      width: 100%; }
      .wrap .content .hand .hand2 a {
        margin: 0;
        margin-bottom: 20px; }
        .wrap .content .hand .hand2 a img {
          width: 100%; }
      .wrap .content .hand .hand2 a:nth-of-type(1), .wrap .content .hand .hand2 a:nth-of-type(3) {
        margin-right: 20px; }
      .wrap .content .hand .hand2 div {
        width: 760px;
        margin: 0;
        overflow: hidden; }
    .wrap .content .hand .maintain {
      display: none; } }

@media screen and (max-width: 740px) {
  .wrap .fooded .about ul {
    width: 40%; }
  .wrap .fooded .about ul:nth-of-type(4), .wrap .fooded .about ul:nth-of-type(5) {
    display: none; }
  .wrap .fooded .about ul:nth-of-type(3) {
    width: 20%; } }

@media screen and (max-width: 730px) {
  .wrap .content .boutique .recommend em, .wrap .content .boutique .appraisal em {
    font-size: 12px;
    font-weight: normal; }
  .wrap .content .boutique ul {
    padding-top: 6px; }
    .wrap .content .boutique ul li {
      margin-left: 0;
      font-size: 12px;
      list-style: none;
      line-height: 32px; } }

@media screen and (max-width: 720px) {
  .wrap .content #large {
    height: 0; }
  .wrap .content .manufacture {
    padding-top: 0; }
    .wrap .content .manufacture ul li:nth-of-type(6) {
      display: none; }
    .wrap .content .manufacture .content {
      width: 99%; }
      .wrap .content .manufacture .content .video3, .wrap .content .manufacture .content .video4, .wrap .content .manufacture .content .video5, .wrap .content .manufacture .content .video6 {
        display: none; }
      .wrap .content .manufacture .content .video1, .wrap .content .manufacture .content .video2 {
        width: 49%; }
        .wrap .content .manufacture .content .video1 span, .wrap .content .manufacture .content .video2 span {
          line-height: 30px; }
      .wrap .content .manufacture .content .video2 {
        margin-left: 2%;
        margin-right: 0; }
  .wrap .content .hand {
    width: 100%; }
    .wrap .content .hand .center_big {
      width: 100%; }
      .wrap .content .hand .center_big .hand2 {
        width: 100%; }
        .wrap .content .hand .center_big .hand2 div {
          width: 100%; }
        .wrap .content .hand .center_big .hand2 a {
          width: 49%;
          margin-right: 0; }
          .wrap .content .hand .center_big .hand2 a img {
            width: 100%; }
        .wrap .content .hand .center_big .hand2 a:nth-of-type(1), .wrap .content .hand .center_big .hand2 a:nth-of-type(3) {
          margin-right: 2%; }
      .wrap .content .hand .center_big .maintain {
        display: block;
        width: 100%; }
        .wrap .content .hand .center_big .maintain img {
          width: 100%; }
        .wrap .content .hand .center_big .maintain div {
          display: none; }
        .wrap .content .hand .center_big .maintain ul {
          display: block; }
  .wrap .content .tool .center_big {
    width: 100%; }
  .wrap .content .tool .right {
    display: none; }
  .wrap .content .tool .left {
    width: 100%; }
    .wrap .content .tool .left div a {
      width: 49%;
      height: 40%;
      margin-right: 2%;
      margin-bottom: 2%;
      box-sizing: border-box; }
      .wrap .content .tool .left div a img {
        width: 60%; }
      .wrap .content .tool .left div a em {
        width: 50%; }
      .wrap .content .tool .left div a span {
        margin-top: 10%; }
      .wrap .content .tool .left div a i {
        margin-bottom: 5px; }
    .wrap .content .tool .left div a:nth-of-type(4) {
      background-color: #fdfdfd; }
      .wrap .content .tool .left div a:nth-of-type(4) img {
        width: 84%; }
      .wrap .content .tool .left div a:nth-of-type(4) span {
        margin-top: -10%;
        margin-bottom: 5px; }
    .wrap .content .tool .left div a:nth-of-type(2), .wrap .content .tool .left div a:nth-of-type(4) {
      margin-right: 0; }
  .wrap .content .lab .center_big ul {
    display: none; }
  .wrap .content .lab .center_big .clear {
    display: none; }
  .wrap .content .lab .center_big .small {
    display: block; }
    .wrap .content .lab .center_big .small ul {
      display: block; }
  .main_tit {
    font-size: 12px;
    line-height: 30px;
    margin-right: 5px; }
  .main_ul {
    line-height: 30px; }
    .main_ul li {
      margin: 0 5px; } }

@media screen and (max-width: 565px) {
  .wrap .content .boutique .recommend, .wrap .content .boutique .appraisal {
    width: 100%; }
    .wrap .content .boutique .recommend em, .wrap .content .boutique .appraisal em {
      line-height: 34px; }
  .wrap .content .boutique ul li {
    border-bottom: 1px solid #f4f5f7;
    line-height: 40px; }
    .wrap .content .boutique ul li i {
      display: block; }
  .wrap .content .boutique .appraisal {
    padding-top: 15px; }
  .wrap .content .hand .center_big .maintain ul li span {
    margin: 0 30%;
    width: 40%;
    max-width: 35px;
    min-width: 28px; } }

@media screen and (max-width: 550px) {
  .wrap .content .life .main_ul {
    display: none; }
  .wrap .content .life .odiv {
    padding-bottom: 15px; }
  .wrap .content .life a {
    width: 49%;
    margin-left: 1%;
    margin-bottom: 1%; }
  .wrap .content .life a:nth-of-type(1), .wrap .content .life a:nth-of-type(3) {
    margin-left: 0; }
  .wrap .fooded .about {
    display: none; }
  .wrap .fooded .chaining {
    display: none; }
  .wrap .bottom {
    line-height: 20px;
    text-align: center;
    padding: 25px 0; }
    .wrap .bottom span {
      line-height: 20px; }
    .wrap .bottom img {
      display: none; }
    .wrap .bottom em {
      display: none; }
    .wrap .bottom br {
      display: block; } }

@media screen and (max-width: 450px) {
  .wrap .content .tool .left div a {
    font-size: 12px; } }

@media screen and (max-width: 400px) {
  .wrap .content .manufacture ul li:nth-of-type(5) {
    display: none; } }

@media screen and (max-width: 320px) {
  .wrap .content .manufacture ul li:nth-of-type(4) {
    display: none; } }
